Aufgabe 6/Umsatzanzeige/bin/*
Aufgabe 8/src/DbConnectionInfo.java
Aufgabe 9/src/DbConnectionInfo.java
Aufgabe 9/TX-Benchmark-Test/src/DbConnectionInfo.java
Aufgabe 9/TX-Benchmark-Test/src/com/whs/dbi21/txbenchmark/DbConnectionInfo.java